# ---------------------------------------------------------
# File:       .gitattributes
# Author:     Julian Orchard <hello@julianorchard.co.uk>
# Tag Added:  2022-04-20
# Desciption: Better reflecting the composition of the repo
# ---------------------------------------------------------
# bat folder stuff ----------------------------------------
bat/wip/** linguist-vendored
bat/archive/** linguist-vendored
# ---------------------------------------------------------
# .ahk Files, Mainly --------------------------------------
ahk/temp/** linguist-vendored
# ---------------------------------------------------------
# Keep Local ----------------------------------------------
wallpapers/current.bmp merge=ours
wallpapers/current.jpg merge=ours
# ---------------------------------------------------------
